@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #2dc25e;
    --secondary-color: #1f1f1f;
    --font-family: "SN Pro", sans-serif;
}

.sn-pro-regular {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}