@import 'animation.scss';
@import '_variable.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);

    h1 {
        color: var(--secondary-color);
        font-size: 2.5rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
}